/*/bin/
/*/bin-res/
/*/target/
**/.tycho-consumer-pom.xml
*.java._trace
*.smap
*.checkbin
*.xtendbin
/*/xtend-gen/*
!/*/xtend-gen/.gitignore

# macOS
.DS_Store
/.idea/
/.m2/
/.frontseat/cache/outputs/
/.frontseat/daemon.json
/.frontseat/daemon.log
/.frontseat/tycho-workspace-gavs.txt
